
<nav class="navbar is-primary" >
    <div class="container">
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                {% if site.data.navigation %}
                {% for item in site.data.navigation %}
                    {% if item.dropdown %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="{{ item.link | prepend: site.baseurl }}" class="navbar-link {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
                        <div class="navbar-dropdown">
                            {% for subitem in item.dropdown %}
                            <a href="{{ subitem.link | prepend: site.baseurl }}" class="navbar-item {% if subitem.link == page.url %}is-active{% endif %}">{{ subitem.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    {% assign lang = page.lang | prepend: "/" %}
                    {% assign link = item.link | prepend: lang %}
                    {% assign link = link | append: "/" %}
                    {% assign domain = lang | prepend: site.baseurl %}
                    {% if page.lang == "fr" %}
                        {% assign name = item.fr %}
                    {% elsif page.lang == "en" %}
                        {% assign name = item.en %}
                    {% else %}
                        {% assign name = item.name %}
                    {% endif %}
                    <a href="{{ item.link | prepend: domain }}" class="navbar-item {% if link == page.url %}is-active{% endif %}">{{ name }}</a>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>

            <div class="navbar-end">
                {% if page.lang == "fr" %}
                {% assign link = page.url | replace_first: "fr", "en" %}
                <a class="navbar-item" href="{{ link }}">EN</a>
                {% elsif page.lang == "en" %}
                {% assign link = page.url | replace_first: "en", "fr" %}
                <a class="navbar-item" href="{{ link }}">FR</a>
                {% endif %}
            </div>

        </div>
    </div>
</nav>
