@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Lato', sans-serif;
$primary: #188eac !default;
$secondary: #336b8e;
$muted: #7e7e7e;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

@import "../node_modules/bulma/bulma.sass";
@import "layout";
@import "syntax";
@import "publications";
@import "responsabilities";
@import "cv";
@import "../node_modules/bulma-block-list/src/block-list.scss";
